@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Manrope:wght@200;300;400;500;700;800&family=Montserrat&family=Open+Sans:wght@700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700&family=Raleway:wght@100;200;300;400;600&family=Roboto:wght@100;400;500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Manrope',sans-serif;
  font-style: normal;
  background-color: #FAFBFF;
}
a{
  text-decoration: none;
}
li ul ol{
  list-style-type: none;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 970px;
  background: linear-gradient(290.58deg, #62BADA -38.05%, #C9E7F2 78.48%);
}
.navbar {
  // .navbar__item
  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 38px 0 0 0;
  }
  // .navbar__items
  &__items {
    margin-left: 26px;
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
  }
  &__items-active {
    font-family: 'Gilroy',sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgba(0,0,0,1);
  }
  // .navbar__items-right
  &__items-right {
    .btn-right{
      margin-left: 50px;
      width: 137px;
      height: 52px;
      background-color: #4F46BA;
      border: none;
      color: white;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
//Header-----------------
.header {
  position: relative;
  // .header__content
  &__content {
    margin: 84px 120px auto;
    display: flex;
  }
  // .header__content-display
  &__content-display {
    width: 646px;
    height: 521px;
  }
  // .header__title
  &__title {
    font-size: 60px;
    font-weight: 800;
  }
  @media screen and (max-width: 375px){
    .header__title{
      width: 280px;
      font-size: 30px;
    }
  }
  // .header__subtitle
  &__subtitle {
    font-size: 20px;
    font-weight: 500;
  }
  // .header__button
  &__button {
    width: 162px;
    height: 60px;
    background: #3734A9;
    border: none;
    border-radius: 47px;
    color: white;
    font-size: 16px;
    letter-spacing: -2%;
    font-weight: 500;
  }
  &__icons-text{
    display: inline;
  }
  // .header__chekboks
  &__chekboks {
    font-size: 17px;
    font-weight: 500;
  }
  // .header__image
   &__image img{
     position: absolute;
     left: 50%;
     right: 0;
     top: -170px;
     bottom: 0;
  }
  @media screen and (max-width: 1140px){
    .header__image {
      display: none;
    }
  }
}



.companies {
  // .companies__container
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    height: 239px;
    background-color: rgba(245, 246, 248, 1);
  }
  @media screen and (max-width: 375px){
    .companies__container{
      height: 670px;
      background-color: #0a53be;
    }
  }
  // .companies__text
  &__text {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 64px 0 16px 0;
    color: rgba(0, 0, 0, 1);
  }
  // .companies__logos
  &__logos a{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 36px 10px 10px 47px ;
  }
}

.section {
  // .section__heading
  &__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 72px 73px;
    // .section__heading__testimonial
    &__testimonial {
      border-radius: 20px;
      width: 402px;
      height: 177px;
      text-align: start;
      border: none;
    }

    // .section__heading__testimonial-text
    &__testimonial-text {
      width: 334px;
      height: 66px;
      padding: 38px 34px;
      font-size: 15px;
      font-weight: 600;
    }

    // .section__heading__testimonial-text-bootom
    &__testimonial-text-bootom {
      font-size: 15px;
      font-weight: 600;
    }
  }

  // .section__heading-title
  &__heading-title {
    width: 542px;
    height: 132px;
    font-size: 56px;
    font-weight: 800;
  }

  // .section__heading-subtitle
  &__heading-subtitle {
    width: 449px;
    height: 132px;
    font-size: 16px;
    font-weight: 500;
    padding: 19px 0 0 0;
  }
}
//value__props
.value {
  // .value__props
  &__props {
    // .value__props__inline-block
    &__inline-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      margin: 71px 0 0 0;
    }

    // .value__props__icon
    &__icon {
      padding: 75px 155px 30px 155px;
    }

    // .value__props__text-title
    &__text-title {
      text-align: center;
      font-size: 30px;
      font-weight: 800;
    }

    // .value__props__text-subtitle
    &__text-subtitle {
      width: 270px;
      height: 70px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      padding: 17px 45px;
    }
  }

  // .value__props-cards
  &__props-cards {
    width: 380px;
    height: 383px;
    background-color: rgba(250, 251, 255, 1);
    border-radius: 20px;
    border: 1px solid rgba(100, 96, 125, .10);
    margin: 0 5px 0 5px;
  }

  // .value__props-number
  &__props-number {
    padding: 21px 22px 0 22px ;
    font-size: 22px;
    font-weight: 800;
  }
}
//Section Content
.section {
  // .section__content
  &__content {

  }

  // .section__content-display-flex
  &__content-display-flex {
    margin: 139px 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  // .section__content-text-block
  &__content-text-block {
    width: 490px;
    height: 469px;
  }

  // .section__content-text-top
  &__content-text-top {
    font-size: 14px;
    font-weight: 700;
    color: #3734A9;
    text-transform: uppercase;
  }

  // .section__content-text-block-title
  &__content-text-block-title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.03em;
    line-height: 60px;
    color: #000000;
    padding: -13px 0 0 0;
  }

  // .section__content-text-block-subtitle
  &__content-text-block-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: rgba(100, 96, 125, 1);
    letter-spacing: -0.02em;
    line-height: 30px;

    margin: 29px 0 51px 0;
  }

  // .section__content-input-chekbox
  &__content-input-chekbox {
    padding: 13px 0 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  // .section__content-label-name
  &__content-label-name {
    font-size: 19px;

    font-weight: 500;
    color: rgba(80, 88, 135, 1);
  }
}

.section {
  // .section__contents-block
  &__contents-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  // .section__contents-text-block
  &__contents-text-block {
    width: 479px;
    height: 463px;
    margin: 0 110px 0 0;
  }

  // .section__contents-text-header
  &__contents-text-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    color: #3734A9;
  }

  // .section__contents-title-text
  &__contents-title-text {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.03em;

  }

  // .section__contents-subtitle-text
  &__contents-subtitle-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
  }

  // .section__contents-button-text-block
  &__contents-button-text-block {
    width: 472px;
    height: 152px;
    background: rgba(196, 196, 196, .3);
    border-radius: 20px;
    border: none;
    text-align: start;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    padding: 32px 34px;
    letter-spacing: -0.02em;
  }
}
.feature {
  height: 833px;
  background-color: rgba(201, 231, 242, 1);
  // .feature__text-title
  &__text-title {
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    letter-spacing: -0.03em;
    color: #000000;
    padding: 146px 0 0 119px;
  }
  // .feature__text-subtitle
  &__text-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    width: 558px;
    padding: 37px 0 0 119px;
    letter-spacing: -0.02em;
  }
  // .feature__cards
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  // .feature__cards-item
  &__cards-item {
    width: 380px;
    height: 338px;
    background: #FFFFFF;
    border: 1px solid #ABC8D2;
    box-sizing: border-box;
    border-radius: 10px;
  }
  &__cards-item {
    padding: 53px 31px;
    margin: 51px -85px 0 119px;
  }
    // .feature__cards-item-title
  &__cards-item-title {
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #000000;
  }
  // .feature__cards-item-subtitle
  &__cards-item-subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.03em;
  }
  // .feature__cards-right
  &__cards-right {
    width: 380px;
    height: 153px;
    background: #FFFFFF;
    border: 1px solid #ABC8D2;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 0 32px 0;
  }
  &__cards-right-block{
    padding: 51px 0 0 120px;
  }
  // .feature__cards-right-text
  &__cards-right-text {
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #000000;
    padding: 42px 31px;
  }
}
.testimonial {
  &__container{
  }
  &__name{
    width: 560px;
    height: 161px;
    margin: 150px 0 74px 119px;
  }
  // .testimonial__text-title
  &__text-title {
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    letter-spacing: -0.03em;
    color: #000000;
  }
  // .testimonial__subtitle
  &__subtitle {
    width: 570px;
    height: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.02em;
  }
  // .testimonial__image-cards
  &__image-cards {
    display: flex;
  }
  // .testimonial__card-left
  &__card-left {
    height: 424px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
  }
  &__card-left img{
    padding: 24px 25px 24px 0;
  }
  // .testimonial__text
  &__text {
    width: 360px;
    height: 180px;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 77px 40px;
  }
  // .testimonial__card-right
  &__card-right {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    margin-left: 31px;
  }
  &__card-right img {
    padding: 24px 25px 24px 0;
  }
}
//Stats
.stats {
  height: 256px;
  background-color: rgba(55, 52, 169, 1);
  margin: 150px 0 0 0;
  // .stats__display-flex-block
  &__display-flex-block {
    display: flex;
    align-items: center;
  }

  // .stats__text-left
  &__text-left {
  }

  // .stats__text
  &__text {
    width: 193px;
    height: 43px;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 82px 0 81px 119px;
  }

  // .stats__text-milion
  &__text-milion {
  }

  // .stats__1-milion-text
  &__1-milion-text {
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 126px;
    margin-bottom: 21px;
  }

  // .stats__icon-with-text
  &__icon-with-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 126px;
  }
}
.rencent-blogs {

  // .rencent-blogs__container

  &__container {
    width: 1440px;
    height: 285px;
    margin: 0 auto;
  }

  // .rencent-blogs__practies

  &__practies {
    display: flex;
  }

  // .rencent-blogs__title

  &__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    letter-spacing: -0.03em;
    color: #000000;
    margin: 147px 0 72px 0;
  }

  // .rencent-blogs__text

  &__text {
    // padding: 0 128px 0 0;
  }

  // .rencent-blogs__text-par

  &__text-par {
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000000;
  }

  // .rencent-blogs__text-title

  &__text-title {
    padding: 0 313px 0 0; 
    width: 624px;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 68px;
  }

  // .rencent-blogs__text-ready

  &__text-ready {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1B1C31;
  }
  // .rencent-blogs__categories

  &__categories {
    max-width: 1440px;
    margin: 0 auto;
  }

  // .rencent-blogs__cards

  &__cards {
    width: 382px;
    height: 436px;
    display: flex;
    margin: 0 0 0 100px;
  }
  &__text-tittle{
    width: 310px;
    height: 108px;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 68px 40px 58px 32px;
  }
  &__cards img{
    padding-top: -20px;
  }
  // .rencent-blogs__card

  &__card {
    margin: 25px 30px 0 0 ;
    background-color: #fffbfb;;
  }
}


