@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Manrope:wght@200;300;400;500;700;800&family=Montserrat&family=Open+Sans:wght@700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700&family=Raleway:wght@100;200;300;400;600&family=Roboto:wght@100;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope',sans-serif;
  font-style: normal;
  background-color: #FAFBFF;
}

a {
  text-decoration: none;
}

li ul ol {
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 970px;
  background: linear-gradient(290.58deg, #62BADA -38.05%, #C9E7F2 78.48%);
}

.navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0 0 0;
}

.navbar__items {
  margin-left: 26px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.navbar__items-active {
  font-family: 'Gilroy',sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.navbar__items-right .btn-right {
  margin-left: 50px;
  width: 137px;
  height: 52px;
  background-color: #4F46BA;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.header {
  position: relative;
}

.header__content {
  margin: 84px 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-display {
  width: 646px;
  height: 521px;
}

.header__title {
  font-size: 60px;
  font-weight: 800;
}

@media screen and (max-width: 375px) {
  .header .header__title {
    width: 280px;
    font-size: 30px;
  }
}

.header__subtitle {
  font-size: 20px;
  font-weight: 500;
}

.header__button {
  width: 162px;
  height: 60px;
  background: #3734A9;
  border: none;
  border-radius: 47px;
  color: white;
  font-size: 16px;
  letter-spacing: -2%;
  font-weight: 500;
}

.header__icons-text {
  display: inline;
}

.header__chekboks {
  font-size: 17px;
  font-weight: 500;
}

.header__image img {
  position: absolute;
  left: 50%;
  right: 0;
  top: -170px;
  bottom: 0;
}

@media screen and (max-width: 1140px) {
  .header .header__image {
    display: none;
  }
}

.companies__container {
  max-width: 1440px;
  margin: 0 auto;
  height: 239px;
  background-color: #f5f6f8;
}

@media screen and (max-width: 375px) {
  .companies .companies__container {
    height: 670px;
    background-color: #0a53be;
  }
}

.companies__text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 64px 0 16px 0;
  color: black;
}

.companies__logos a {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 36px 10px 10px 47px;
}

.section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px 73px;
}

.section__heading__testimonial {
  border-radius: 20px;
  width: 402px;
  height: 177px;
  text-align: start;
  border: none;
}

.section__heading__testimonial-text {
  width: 334px;
  height: 66px;
  padding: 38px 34px;
  font-size: 15px;
  font-weight: 600;
}

.section__heading__testimonial-text-bootom {
  font-size: 15px;
  font-weight: 600;
}

.section__heading-title {
  width: 542px;
  height: 132px;
  font-size: 56px;
  font-weight: 800;
}

.section__heading-subtitle {
  width: 449px;
  height: 132px;
  font-size: 16px;
  font-weight: 500;
  padding: 19px 0 0 0;
}

.value__props__inline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 71px 0 0 0;
}

.value__props__icon {
  padding: 75px 155px 30px 155px;
}

.value__props__text-title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.value__props__text-subtitle {
  width: 270px;
  height: 70px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 17px 45px;
}

.value__props-cards {
  width: 380px;
  height: 383px;
  background-color: #fafbff;
  border-radius: 20px;
  border: 1px solid rgba(100, 96, 125, 0.1);
  margin: 0 5px 0 5px;
}

.value__props-number {
  padding: 21px 22px 0 22px;
  font-size: 22px;
  font-weight: 800;
}

.section__content-display-flex {
  margin: 139px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__content-text-block {
  width: 490px;
  height: 469px;
}

.section__content-text-top {
  font-size: 14px;
  font-weight: 700;
  color: #3734A9;
  text-transform: uppercase;
}

.section__content-text-block-title {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 60px;
  color: #000000;
  padding: -13px 0 0 0;
}

.section__content-text-block-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #64607d;
  letter-spacing: -0.02em;
  line-height: 30px;
  margin: 29px 0 51px 0;
}

.section__content-input-chekbox {
  padding: 13px 0 0 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.section__content-label-name {
  font-size: 19px;
  font-weight: 500;
  color: #505887;
}

.section__contents-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.section__contents-text-block {
  width: 479px;
  height: 463px;
  margin: 0 110px 0 0;
}

.section__contents-text-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: #3734A9;
}

.section__contents-title-text {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -0.03em;
}

.section__contents-subtitle-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.section__contents-button-text-block {
  width: 472px;
  height: 152px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 20px;
  border: none;
  text-align: start;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding: 32px 34px;
  letter-spacing: -0.02em;
}

.feature {
  height: 833px;
  background-color: #c9e7f2;
}

.feature__text-title {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  letter-spacing: -0.03em;
  color: #000000;
  padding: 146px 0 0 119px;
}

.feature__text-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  width: 558px;
  padding: 37px 0 0 119px;
  letter-spacing: -0.02em;
}

.feature__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__cards-item {
  width: 380px;
  height: 338px;
  background: #FFFFFF;
  border: 1px solid #ABC8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.feature__cards-item {
  padding: 53px 31px;
  margin: 51px -85px 0 119px;
}

.feature__cards-item-title {
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #000000;
}

.feature__cards-item-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.feature__cards-right {
  width: 380px;
  height: 153px;
  background: #FFFFFF;
  border: 1px solid #ABC8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 0 0 32px 0;
}

.feature__cards-right-block {
  padding: 51px 0 0 120px;
}

.feature__cards-right-text {
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #000000;
  padding: 42px 31px;
}

.testimonial__name {
  width: 560px;
  height: 161px;
  margin: 150px 0 74px 119px;
}

.testimonial__text-title {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  letter-spacing: -0.03em;
  color: #000000;
}

.testimonial__subtitle {
  width: 570px;
  height: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: -0.02em;
}

.testimonial__image-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__card-left {
  height: 424px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__card-left img {
  padding: 24px 25px 24px 0;
}

.testimonial__text {
  width: 360px;
  height: 180px;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 77px 40px;
}

.testimonial__card-right {
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31px;
}

.testimonial__card-right img {
  padding: 24px 25px 24px 0;
}

.stats {
  height: 256px;
  background-color: #3734a9;
  margin: 150px 0 0 0;
}

.stats__display-flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__text {
  width: 193px;
  height: 43px;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 82px 0 81px 119px;
}

.stats__1-milion-text {
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-left: 126px;
  margin-bottom: 21px;
}

.stats__icon-with-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-left: 126px;
}

.rencent-blogs__container {
  width: 1440px;
  height: 285px;
  margin: 0 auto;
}

.rencent-blogs__practies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rencent-blogs__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  letter-spacing: -0.03em;
  color: #000000;
  margin: 147px 0 72px 0;
}

.rencent-blogs__text-par {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
}

.rencent-blogs__text-title {
  padding: 0 313px 0 0;
  width: 624px;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 68px;
}

.rencent-blogs__text-ready {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #1B1C31;
}

.rencent-blogs__categories {
  max-width: 1440px;
  margin: 0 auto;
}

.rencent-blogs__cards {
  width: 382px;
  height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 100px;
}

.rencent-blogs__text-tittle {
  width: 310px;
  height: 108px;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 68px 40px 58px 32px;
}

.rencent-blogs__cards img {
  padding-top: -20px;
}

.rencent-blogs__card {
  margin: 25px 30px 0 0;
  background-color: #fffbfb;
}
/*# sourceMappingURL=frilanse.css.map */